* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Yndx; /* Имя шрифта */
    src: url(../fonts/YandexSansDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
   }
body {
    font-family: "Yndx";
}

nav {
    background-color: #fc0;
    font-family: "Yndx";
    font-size: 24px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 15px;
}
.navlink {
    text-decoration: none;
    color: black;
}
.navlink:hover {
    transition: 0.5s;
    color: whitesmoke;
}

#nmaps {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px;
    background: transparent;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    font-family: "Yndx";
    font-size: 16px;
}

.main-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-big-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
article {
    height: 300px;
    

}

.wide-box {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    height: 100px;
    justify-content: space-around;
    align-content: center;
}
.face {
    border-radius: 50%;
    height: 100px;
}

/*------------------------------------------*/

#map {
    width: 100%;
    height: 90%;
}

#map-loader {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 90%;
    display: none;
}
.map-event {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.load {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation: move  2s infinite cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes move {
   /* from, 
    to {
    top: 30%;
    }
    25%, 
    75% {top: 45%;}
    50% {top: 40%;}
*/
    0% {top: calc(60% - 50px);
        left: calc(55% - 50px);}
    25% {top: calc(60% - 50px);
        left: calc(45% - 50px);}  
    50% {top: calc(50% - 50px);
        left: calc(45% - 50px);}
    75% {top: calc(50% - 50px);
        left: calc(55% - 50px);}
    100% {top: calc(60% - 50px);
        left: calc(55% - 50px);}
    }

.load img {
    width: 50px;
}

.load-label {
    position: absolute;
    width: 300px;
    top: calc(60% + 50px);
    left: calc(50% - 180px);
    text-align: center;

    line-height:38px;
    color:#f2f2f2;
    padding:0 16px;
    border-radius:19px;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow:0px 3px 0px 0px rgba(0,0,0,0.05);
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

footer {

}